<div class="main" style='background-image: url("https://blog.studocu.com/wp-content/uploads/2017/08/best-books-book-youll-ever-read.jpg")'>

  <br />

  <h1 class="head">Welcome to the Bookboards</h1>

  <button class="ui button"><%= link_to 'View the Charts', boards_path %></button>

</div>