<br />
<div class="ui container">

<h1 class="ui header center aligned">All Bookboards</h1>

  <div class="ui divider"></div>

  <div class="ui grid">
    <% @boards.each do |board| %>
    <div class="sixteen wide mobile eight wide tablet four wide computer column">
      <div class="ui raised link card">
    
        <%= link_to board.name, board_songs_path(board) %>

      </div>
    </div>    
    <% end %>
  </div>    

</div>